<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Welcome to CloudMake - Empowering AWS and DevOps Solutions</h1>
            <hr>
            <p>At CloudMake, we specialize in providing cutting-edge AWS and DevOps solutions to help businesses optimize their operations, increase efficiency, and achieve scalable growth. With our expertise in cloud technologies and automation, we empower organizations to leverage the full potential of AWS and streamline their DevOps practices.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
