<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>AWS Consulting and Architecture</h3>
                    <p class="text-muted">Our team of AWS certified professionals will work closely with you to design and implement tailored cloud solutions. From initial planning to architecture design and deployment, we ensure that your AWS infrastructure is optimized for performance, security, and cost efficiency.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>DevOps Transformation</h3>
                    <p class="text-muted">Embrace the DevOps culture with our guidance and support. We help organizations implement best practices, automate processes, and foster collaboration between development and operations teams. Our goal is to accelerate software delivery, enhance reliability, and enable seamless scalability.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Infrastructure as Code (IaC)</h3>
                    <p class="text-muted">Leverage the power of Infrastructure as Code to provision and manage your cloud resources efficiently. We assist you in adopting tools like AWS CloudFormation and Terraform to automate the provisioning and configuration of your infrastructure, ensuring consistency and scalability.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Continuous Integration and Deployment (CI/CD)</h3>
                    <p class="text-muted">Efficiently deliver high-quality software with our CI/CD solutions. We set up automated pipelines that enable continuous integration, automated testing, and smooth deployments. By streamlining your release process, we help you achieve faster time to market and improved software reliability.</p>
                </div>
            </div>
        </div>
    </div>
</section>
